* {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: #41ff00;
  background-color: black;
  border-color: black;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  margin: 0.5rem 0.2rem;
}

body {
  width: 100vw;
  overflow-x: hidden;
  width: 100%;
}

body::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: rgba(18, 16, 16, 0.15);
  opacity: 0;
  animation: flicker 0.15s infinite;
}

body::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 2px, 3px 100%;
}

#loading {
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid #41ff00;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* #console {
  max-width: 20rem;
} */

#cursor {
  width: 1.5rem;
  height: 2rem;
  margin-left: -2rem;
  animation: blinker 1s linear infinite;
  background-color: #41ff00;
}

#input {
  margin-right: 2.5rem;
}

.highlight {
  background-color: #41ff00;
  color: black;
  padding: 0 0.4rem 0 0.2rem;
  margin-top: 1rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  50% {
    opacity: 0;
  }
}

/* Safari */
/* @-webkit-keyframes spin {
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
