h1 {
    text-align: right;
}

#loading {
    border: 2rem solid black;
    border-radius: 50%;
    border-top: 2rem solid #41ff00;
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#cursor {
    width: 1.5rem;
    height: 2rem;
    margin-left: -2rem;
    animation: blinker 1s linear infinite;
    background-color: #41ff00;
}

#input {
    margin-right: 2.5rem;
}

#navigation {
    margin: 1rem 0;
}

#footer {
    margin-top: 1.5rem;
    text-align: right;
}

#stats {
    text-align: right; 
}

.container {
    max-width: 15rem;
    margin: 0 auto;
    border-right: 0.2rem solid #41ff00;
}

.highlight {
    background-color: #41ff00;
    color: black;
    padding: 0 0.4rem 0 0.2rem;
    line-height: 1.4rem;
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

@keyframes flicker {
    50% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}